
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.screenshot {
  width: 100%;
  height: auto;
}

#imgForBig {
  display: none;
}

#titleColumn {
  text-align: center;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.75em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #ccc;
  background-color: #222;
}

h1, h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }


@media (min-width: 500px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }
  .column {
    margin-left: 4%;
  }
  .column:first-child {
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .one-half.column {
    width: 48%;
  }

}

@media (min-width: 1400px) {
  .expandablecontainer {
    width: 90%;
    max-width: 1700px;
  }
  .subcontainer {
    width: 46%;
  }
  #imgForSmall {
    display: none;
  }
  #imgForBig {
    display: block;
  }
  #titleColumn {
    width: 98%;
  }
  nav {
    font-size: 1.2em;
  }

}
a {
  color: #fff;
  cursor: pointer;
  }
a:hover {
  color: #c3d3f9;
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
}

.paddingColumn {
  padding: 2rem 0;
}

.gridItem {
  text-align: left;
  margin-top: 40px;
}

.centertext {
  text-align: center;
}

.vcentering>* {
  vertical-align: middle;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 960px;
  white-space: nowrap;
  top: 0px;
  left: 0;
  right: 0;
  display: inline-block;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
nav div {
  flex: 1;
  text-align: center;
}
@media (max-width: 800px) {
  nav div {
    flex-basis:33%;
  }
}
@media (max-width: 500px) {
  nav div {
    flex-basis:50%;
  }
}
@media (max-width: 300px) {
  nav div {
    flex-basis:100%;
  }
}
nav a {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ddd;
}
nav a:visited {
  color: #ddd;
}
nav a:hover {
  color: grey;
}

.avoidwrap {
  display: inline-block;
}
